:root {
  /* Size */
  --site-width: 1080px;
  --sidebar-width: 180px;
  --content-width: 700px;
  --topbar-height: 80px;
  --content-min-height: 500px;

  /* Font size */
  --body-font-size: 0.8rem;
  --nav-link-font-size: 0.7rem;
  --footer-font-size: 0.75rem;

  /* UI colors */
  --border-color: #ccc;
  --site-bg-color: #fbf4ff;
  --logo-color: #ad7ec5;
  --menu-start-bg-color: #f7f7f7;
  --menu-end-bg-color: #e7e7e7;
  --sidebar-bg-color: #f7f7f7;
  --nav-link-hover-color: #ddd3e3;
  --content-bg-color: #ffffff;

  --toolbar-item-color: #ede8ff;
  --toolbar-item-hover-color: #e2d9ff;

  /* Text colors */
  --footer-text-color: #999;

  /* Other */
  --topbar-zindex: 1;
}

body {
  font-family: Arial;
  background-color: var(--site-bg-color);
  padding-bottom: 100px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.layout {
  display: flex;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.sidebar {
  width: var(--sidebar-width);
  background-color: var(--sidebar-bg-color);
  border-right: 1px solid var(--border-color);
}

.sidebar-inner {
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.logo {
  width: var(--sidebar-width);
  height: var(--topbar-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: var(--logo-color);
  color: #1e1e1e;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.navigation {
  display: flex;
  flex-direction: column;
}

.nav-link {
  border-bottom: 1px solid var(--border-color);
  padding: 4px;
  font-size: var(--nav-link-font-size);
  font-weight: bold;
}

.nav-link:hover {
  background-color: var(--nav-link-hover-color);
}

.core {
  width: calc(var(--site-width) - var(--sidebar-width));
  height: max-content;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: var(--content-min-height);
  background-color: var(--content-bg-color);
  font-size: var(--body-font-size);
}

.content {
  width: var(--content-width);
  padding-left: 8px;
  padding-bottom: 100px;
}

.content-sidebar {
  width: calc(var(--site-width) - var(--sidebar-width) - var(--content-width));
  border-left: 1px solid #ccc;
}

/* Floating toolbar */
.floating-toolbar {
  position: fixed;
  left: 50%;
  bottom: 0;
  margin-left: 550px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-height: 300px) {
  .floating-toolbar {
    bottom: 60;
  }
}

@media (min-height: 640px) {
  .floating-toolbar {
    bottom: 120;
  }
}

@media (min-height: 760px) {
  .floating-toolbar {
    bottom: 180;
  }
}

@media (min-height: 900px) {
  .floating-toolbar {
    bottom: 250;
  }
}

@media (min-height: 1200px) {
  .floating-toolbar {
    bottom: 350;
  }
}

.floating-toolbar-item {
  background-color: var(--toolbar-item-color);
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 4px;
}

.instant-tooltip {
  position: relative;
  cursor: pointer;
}

.instant-tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  bottom: 110%;
  transform: translateX(-50%);
  background-color: #333c;
  color: #fff;
  padding: 4px 6px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
}

.instant-tooltip:hover::after {
  opacity: 1;
}

.floating-toolbar-item:hover {
  background-color: var(--toolbar-item-hover-color);
}

.floating-toolbar-item a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* Footer */
.footer {
  width: var(--site-width);
  font-size: var(--footer-font-size);
  line-height: 1.6;
  text-align: end;
  margin-top: 8px;
  color: var(--footer-text-color);
}

.footer a {
  text-decoration: underline;
}

/* Common styles */
.link {
  color: #2d72ad;
  text-decoration: underline;
}

.link:hover {
  text-decoration-thickness: 2px;
}

.space-y-xs {
  height: 4px;
}

.space-y-s {
  height: 8px;
}

.space-y-md {
  height: 16px;
}
