<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/site/favicon.ico">
  <link rel="stylesheet" href="/site/reset.css">
  <link rel="stylesheet" href="/site/base.css">
  <link rel="stylesheet" href="/site/toast.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/site/toast.js"></script>
  <script src="/site/utils.js"></script>
  <title>About & Credits</title>
  <style>
    [id] {
      scroll-margin-top: 100px;
    }

    h1,
    h2 {
      margin-top: 24px;
    }

    h1+p,
    h2+p,
    h2+ul {
      margin-top: 8px;
    }

    .toc {
      width: max-content;
      padding: 8px;
      padding-right: 32px;
      background-color: #f9f9f9;
      border: 1px solid #ccc;
    }

    .toc ul {
      padding-inline-start: 16px;
    }

    .content li {
      list-style: circle;
      padding: 0;
      margin-left: 24px;
    }

    .content li:first-child {
      margin-top: 6px;
    }

    .callout {
      width: fit-content;
      padding: 8px;
      margin: 8px;
      border: 1px dashed black;
    }

    .collapsible-container {
      margin-top: 6px;
    }

    .collapsible-btn {
      all: unset;
      width: fit-content;
      background-color: #ccc;
      cursor: pointer;
      padding: 4px;
    }

    .collapsible {
      width: fit-content;
      padding: 6px 16px;
      border: 1px solid black;
    }

    .hidden {
      display: none;
    }
  </style>
</head>

<body>
  <div class="app">
    <div class="layout">
      <div th:replace="~{fragments/sidebar :: sidebar}"></div>
      <div class="core">
        <header th:replace="~{fragments/topbar :: topbar(account=${data.account})}"></header>
        <main class="content-container">
          <div class="content">
            <div class="space-y-s"></div>
            <!-- TOC -->
            <div class="toc">
              <p>On this page:</p>
              <ul>
                <li><a class="link" href="#about">About</a></li>
                <li><a class="link" href="#credits">Credits</a></li>
                <ul>
                  <li><a class="link" href="#inspiration">Inspiration</a></li>
                  <li><a class="link" href="#assets">Assets</a></li>
                  <li><a class="link" href="#technology">Technology</a></li>
                  <li><a class="link" href="#tools">Tools</a></li>
                </ul>
              </ul>
            </div>

            <!-- About -->
            <h1 id="about">About</h1>
            <p><strong>MyBiasWorld</strong> is a fan social portal platform for fan communities. It reimagines plain
              social applications of the old internet as a fan-centered environment.</p>
            <div style="height: 16px;"></div>
            <p>
              Inspired by the look and culture of old-school websites, forum, and services from the late 2000s and
              2010s, the project seek to discover the engineering aspect behind them and explore old-school web design.
            </p>
            <div style="height: 16px;"></div>
            <p>
              The fan thematic layer is the heart of the platform.
            </p>
            <div class="callout">
              <p>
                Particularly, this instance of platform focuses on creating a fan-centered environment around the K-pop
                girl group <strong>Kep1er</strong>.
              </p>
            </div>
            <p>
              <em>
                This is a fan-made community project and is not affiliated with or endorsed by the aforementioned brand.
                It's used only as a reference and to add personal meaning.
              </em>
            </p>

            <!-- Spacer -->
            <div style="height: 24px;"></div>

            <!-- Credits -->
            <h1 id="credits">Credits</h1>
            <p>Thanks to anyone who has participated on the development of this fan social portal platform. See our <a
                class="link" href="https://github.com/glennhenry/MyBiasWorld" target="_blank">GitHub contributors</a>.
            </p>
            <div class="callout">
              <p>Special recognition for the K-pop group
                <strong>Kep1er</strong>. They inspired us to create a fan community, which led us to the idea of this
                creating this fan platform.
              </p>
            </div>

            <h2 id="inspiration">Inspiration</h2>
            <p>This platform is inspired by various old school community websites and online communities.</p>
            <ul>
              <li>
                <p>The website concept and design is inspired by the Chinese forum <a class="link"
                    href="https://tieba.baidu.com" target="_blank">Baidu Tieba</a></p>
              </li>
            </ul>

            <h2 id="assets">Assets</h2>
            <p>This project makes use of resources from various online sources:</p>
            <ul>
              <li>
                <p><a class="link" href="https://www.svgrepo.com" target="_blank">SVG Repo</a> for SVG icons;
                  specifically, the <a class="link" href="https://www.svgrepo.com/collection/solar-linear-icons"
                    target="_blank">Solar Linear Icons</a> collection.</p>
              </li>
              <li>
                <p><a class="link" href="https://pexels.com" target="_blank">Pexels</a> for stock photography.</p>
                <div class="collapsible-container">
                  <button class="collapsible-btn">Various photographers ▶</button>
                  <div class="collapsible hidden">
                    <ul>
                      <li><a class="link"
                          href="https://www.pexels.com/photo/two-duckling-figurines-standing-on-a-wet-street-14555238"
                          target="_blank">https://www.pexels.com/photo/two-duckling-figurines-standing-on-a-wet-street-14555238</a>
                      </li>
                      <li><a class="link" href="https://www.pexels.com/photo/toy-dumper-truck-on-sand-16940343"
                          target="_blank">https://www.pexels.com/photo/toy-dumper-truck-on-sand-16940343</a>
                      </li>
                      <li><a class="link" href="https://www.pexels.com/photo/photo-of-toys-on-a-rug-4964285"
                          target="_blank">https://www.pexels.com/photo/photo-of-toys-on-a-rug-4964285</a>
                      </li>
                      <li><a class="link"
                          href="https://www.pexels.com/photo/cardboard-robot-figurine-on-shelf-in-soft-light-36138648"
                          target="_blank">https://www.pexels.com/photo/cardboard-robot-figurine-on-shelf-in-soft-light-36138648</a>
                      </li>
                      <li><a class="link" href="https://www.pexels.com/photo/pink-bear-plush-toy-on-white-bed-4887156"
                          target="_blank">https://www.pexels.com/photo/pink-bear-plush-toy-on-white-bed-4887156</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>

            <h2 id="technology">Technology</h2>
            <ul>
              <li>
                <p><a class="link" href="https://kotlinlang.org" target="_blank">Kotlin</a> with <a class="link"
                    href="https://ktor.io" target="_blank">Ktor</a> as the backend using the <a class="link"
                    href="https://www.thymeleaf.org" target="_blank">Thymeleaf</a> templating engine and <a class="link"
                    href="https://www.mongodb.com" target="_blank">MongoDB</a> database.</p>
              </li>
              <li>
                <p><a class="link" href="https://starlight.astro.build" target="_blank">Starlight Astro</a> as our
                  documentation tools.</p>
              </li>
            </ul>

            <h2 id="tools">Tools</h2>
            <p>Our development is supported by various tools:</p>
            <ul>
              <li>
                <p><a class="link" href="https://www.piskelapp.com" target="_blank">Piskel</a> for making icons.</p>
              </li>
              <li>
                <p><a class="link" href="https://www.figma.com" target="_blank">Figma</a> for assets tooling.</p>
              </li>
              <li>
                <p><a class="link" href="https://chatgpt.com" target="_blank">ChatGPT</a> and <a class="link"
                    href="https://google.com/ai" target="_blank">Google AI Mode</a> for development aid.</p>
              </li>
            </ul>
          </div>
          <div th:replace="~{fragments/content-sidebar :: content-sidebar}"></div>
        </main>
      </div>
    </div>
    <ul th:replace="~{fragments/floating-toolbar :: floating-toolbar}"></ul>
    <div class="toast-container"></div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </div>

  <th:block th:replace="~{fragments/floating-toolbar :: floating-toolbar-script}"></th:block>
  <script>
    $(document).ready(function () {
      $(".collapsible-btn").click(function () {
        const el = $(".collapsible")
        if (el.hasClass("hidden")) {
          $(this).text("Various photographers ▼")
        } else {
          $(this).text("Various photographers ▶")
        }
        el.toggleClass("hidden")
      })
    })
  </script>
</body>

</html>