<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/site/favicon.ico">
  <link rel="stylesheet" href="/site/reset.css">
  <link rel="stylesheet" href="/site/base.css">
  <link rel="stylesheet" href="/site/toast.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/site/toast.js"></script>
  <script src="/site/utils.js"></script>
  <title>Feedback</title>
  <style>
    .feedback-form {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 8px;
    }

    #feedback-status {
      color: red;
    }
  </style>
</head>

<body>
  <div class="app">
    <div class="layout">
      <div th:replace="~{fragments/sidebar :: sidebar}"></div>
      <div class="core">
        <header th:replace="~{fragments/topbar :: topbar(account=${data.account})}"></header>
        <main class="content-container">
          <div class="content">
            <h1>Feedback</h1>
            <p>Send us a feedback!</p>
            <div class="feedback-form">
              <textarea id="feedback-textarea" placeholder="Type anything..."></textarea>
              <button class="send-feedback-btn">Send</button>
              <p id="feedback-status"></p>
            </div>
          </div>
          <div th:replace="~{fragments/content-sidebar :: content-sidebar}"></div>
        </main>
      </div>
    </div>
    <ul th:replace="~{fragments/floating-toolbar :: floating-toolbar}"></ul>
    <div class="toast-container"></div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </div>

  <th:block th:replace="~{fragments/floating-toolbar :: floating-toolbar-script}"></th:block>
  <script>
    let isFeedbackValid = false

    $(document).ready(function () {
      $(".send-feedback-btn").click(function () {
        sendFeedback()
      })

      if (localStorage.getItem("feedbackToast") == "true") {
        Toast.success("Feedback sent", "Your feedback has been sent to us, thanks!")
        localStorage.setItem("feedbackToast", "")
      }
    })

    async function sendFeedback() {
      if (!checkFeedbackText()) return

      const feedbackText = $("#feedback-textarea").val();
      const payload = { feedback: feedbackText }

      try {
        const response = await fetch(window.location.href, {
          method: 'POST',
          body: JSON.stringify(payload)
        })

        if (response.ok) {
          $("#feedback-textarea").val("")
          localStorage.setItem("feedbackToast", "true")
          window.location.reload()
          return
        } else if (response.status == 400) {
          $("#feedback-status").text(await response.text())
        }

      } catch (err) {
        console.error("Feedback error: ", err)
      }
    }

    function checkFeedbackText() {
      validateFeedback()
      return isFeedbackValid
    }

    function validateFeedback() {
      const feedbackText = $("#feedback-textarea").val();
      if (feedbackText.length < 10) {
        isFeedbackValid = false;
        $("#feedback-status").text("We appreciate your enthusiasm, but please send us at least 10 characters.")
      } else {
        isFeedbackValid = true;
        $("#feedback-status").text("")
      }
    }
  </script>
</body>

</html>