<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/site/favicon.ico">
  <link rel="stylesheet" href="/site/reset.css">
  <link rel="stylesheet" href="/site/base.css">
  <link rel="stylesheet" href="/site/toast.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/site/toast.js"></script>
  <script src="/site/utils.js"></script>
  <title>Lobby</title>
</head>

<body>
  <div class="app">
    <div class="layout">
      <div th:replace="~{fragments/sidebar :: sidebar}"></div>
      <div class="core">
        <header th:replace="~{fragments/topbar :: topbar(account=${data.account})}"></header>
        <main class="content-container">
          <div class="content">
            <h1>Lobby</h1>
            <p th:text="'System time: ' + ${data.time}"></p>
            <p th:text="'Bias: ' + ${data.bias}"></p>
            <div class="space-y-md"></div>
            <a class="link" href="/profile/random">Give me a random profile!</a>
          </div>
          <div th:replace="~{fragments/content-sidebar :: content-sidebar}"></div>
        </main>
      </div>
    </div>
    <ul th:replace="~{fragments/floating-toolbar :: floating-toolbar}"></ul>
    <div class="toast-container"></div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </div>

  <th:block th:replace="~{fragments/floating-toolbar :: floating-toolbar-script}"></th:block>
</body>

</html>