<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/site/favicon.ico">
  <link rel="stylesheet" href="/site/reset.css">
  <link rel="stylesheet" href="/site/base.css">
  <link rel="stylesheet" href="/site/toast.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/site/toast.js"></script>
  <script src="/site/utils.js"></script>
  <title>Login</title>
  <th:block th:replace="~{fragments/topbar :: topbar-styles}"></th:block>
  <style>
    .form-group {
      display: flex;
      flex-direction: column;
      width: max-content;
      gap: 8px;
    }

    .text-input {
      width: 200px;
    }

    #username-info,
    #email-info,
    #password-info,
    #login-info {
      text-align: start;
      margin-bottom: 20px;
      font-size: 0.9em;
    }

    #login-button {
      padding: 4px;
    }

    #login-button:disabled {
      background-color: rgb(165, 157, 157);
      cursor: not-allowed;
      opacity: 0.6;
      border: none;
    }
  </style>
</head>

<body>
  <div class="app">
    <div class="layout">
      <div class="core">
        <header th:replace="~{fragments/topbar :: topbar(account=${data.account})}"></header>
        <main class="content-container">
          <div class="content">
            <h1>Login</h1>
            <form id="login-form">
              <div>
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input id="username" class="text-input" type="text" required />
                </div>
                <div id="username-info"></div>
              </div>
              <div>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input id="password" class="text-input" type="password" required />
                </div>
                <div id="password-info"></div>
              </div>
              <div>
                <button id="login-button" type="submit">Login</button>
                <p id="login-info"></p>
              </div>
              <a id="register-link" class="link" href="/register">Register</a>
            </form>
          </div>
          <div th:replace="~{fragments/content-sidebar :: content-sidebar}"></div>
        </main>
      </div>
    </div>
    <ul th:replace="~{fragments/floating-toolbar :: floating-toolbar}"></ul>
    <div class="toast-container"></div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </div>

  <th:block th:replace="~{fragments/floating-toolbar :: floating-toolbar-script}"></th:block>
  <script>
    let isUsernameValid = false;
    let isPasswordValid = false;

    // to add slight delay everytime the input change before checking it
    let usernameInputTimer;
    let passwordInputTimer;

    $(document).ready(function () {
      checkUsername()
      checkPassword()
      passReturnLink()
    })

    function passReturnLink() {
      const params = new URLSearchParams(window.location.search);
      const returnTo = params.get("return");

      if (returnTo) {
        $("#register-link").attr("href", `/register?return=${returnTo}`)
      }
    }

    // validate username on change
    $("#username").on("input", function () {
      const value = $("#username").val()
      $("#username-info").text("")

      clearTimeout(usernameInputTimer);
      usernameInputTimer = setTimeout(() => {
        checkUsername()
      }, 500);
    })

    $("#password").on("input", function () {
      clearTimeout(passwordInputTimer);
      passwordInputTimer = setTimeout(() => {
        checkPassword()
      }, 500);
    })

    function checkUsername() {
      if (validateUsername($("#username").val())) {
        isUsernameValid = true
      } else {
        isUsernameValid = false
      }
      updateSubmitButton()
      return isUsernameValid
    }

    const usernameRegex = /^[a-z0-9_]+$/i;

    function validateUsername(username) {
      if (username.length < 2) {
        $("#username-info")
          .text("Username is at least 2 characters.")
          .css("color", "red")

        isUsernameValid = false;
        updateSubmitButton();
        return false;
      } else if (!usernameRegex.test(username)) {
        $("#username-info")
          .text("Username only contains lowercase a-z, the digit 0-9, and _ (underscore)")
          .css("color", "red")

        isUsernameValid = false;
        updateSubmitButton();
        return false;
      }
      return true;
    }

    function checkPassword() {
      if ($("#password").val()) {
        isPasswordValid = true
      } else {
        isPasswordValid = false
      }
      updateSubmitButton()
      return isPasswordValid
    }

    // submit button is only enabled when credentials are valid
    function updateSubmitButton() {
      if (!isUsernameValid || !isPasswordValid) {
        $("#login-button").prop("disabled", true)
      } else {
        $("#login-button").prop("disabled", false)
        $("#login-info").text("")
      }
    }

    $("#login-form").on("submit", function (event) {
      event.preventDefault();
      login()
    })

    async function login() {
      const usernameOk = checkUsername()
      const passwordOk = checkPassword()

      if (!usernameOk || !passwordOk) {
        $("#login-info")
          .text("Credentials are blank.")
          .css("color", "orange")
        return;
      }

      $("#login-info")
        .text("Logging in...")
        .css("color", "orange")

      const payload = JSON.stringify({ username: $("#username").val(), password: $("#password").val() })

      const params = new URLSearchParams(window.location.search);
      const returnTo = params.get("return");

      const url = new URL("/api/login", window.location.origin);

      if (returnTo !== null) {
        url.searchParams.set("return", returnTo);
      }

      fetch(url, {
        method: "POST",
        body: payload,
      })
        .then(async (response) => {
          if (!response.ok) {
            const error = await response.json();
            throw new Error(error.reason || "Registration failed");
          }
          return response.json()
        })
        .then((data) => {
          window.location.href = data.url;
        })
        .catch((e) => {
          $("#login-info")
            .text(`Login failed: ${e.message}`)
            .css("color", "red")

          console.error("login error:", e);
        });
    }
  </script>
</body>

</html>